.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* 垂直方向に中央揃え */
  align-items: center;
  height: 100vh;
  /* 画面全体の高さを占める */
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 150px;
}

.button {
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}